.error-message{
    font-size: 20px;
    color: red;
}
.succeed-message{
    font-size: 20px;
    color: green;
}
.device-button{
    width: 120px;
    height: 60px;
    font-size: 36px;
    font-family: "Segoe Print", serif;
}
.index-text{
    font-size: 36px;
    color: blue;
}
.parser-selector{
    font-size: 36px;
    color: magenta;
}
.nice-button{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: azure;
    text-decoration-style: dashed;
    display: inline-block;
    font-size: 16px;
    opacity: 0.6;
}
.input-text{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
.login-text{
    text-decoration-style: wavy;
    text-decoration: black;
    text-shadow: aqua;
    text-align: center;
    text-anchor: start;
    color: black;
}